Repository StackVista/stackstate-cli: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, license_scanning, dependency_scanning, goreleaser_check, compile_test

lint:
  image: nixos/nix:2.8.0
  variables:
    NIX_CONFIG: experimental-features = nix-command flakes
    GOPATH: /go
    GITLAB_TOKEN: ${gitlab_api_scope_token}
  before_script: null
  cache:
    paths:
    - /go/pkg/mod/
  stage: check
  script:
  - scripts/lint.sh

license_scanning:
  stage: check
  image: registry.gitlab.com/gitlab-org/security-products/analyzers/license-finder:3
  variables:
    LM_REPORT_VERSION: '2.1'
  allow_failure: true
  script:
  - /run.sh analyze .
  artifacts:
    reports:
      license_scanning: gl-license-scanning-report.json

dependency_scanning:
  stage: check
  image: registry.gitlab.com/gitlab-org/security-products/analyzers/gemnasium:2
  script:
  - /analyzer run
  allow_failure: true
  artifacts:
    reports:
      dependency_scanning: gl-dependency-scanning-report.json

goreleaser_check:
  image: nixos/nix:2.8.0
  variables:
    NIX_CONFIG: experimental-features = nix-command flakes
    GOPATH: /go
    GITLAB_TOKEN: ${gitlab_api_scope_token}
  before_script: null
  cache:
    paths:
    - /go/pkg/mod/
  stage: check
  script:
  - nix develop -c goreleaser check

compile_test:
  image: nixos/nix:2.8.0
  variables:
    NIX_CONFIG: experimental-features = nix-command flakes
    GOPATH: /go
    GITLAB_TOKEN: ${gitlab_api_scope_token}
  before_script: null
  cache:
    paths:
    - /go/pkg/mod/
  stage: check
  script:
  - nix develop -c go test ./... -v
  tags:
  - sts-k8s-xl-runner

STAC-0: Rename 'cli' to 'cli-config'
  cmd/cli.go
  cmd/cliconfig.go
  cmd/cliconfig/cliconfig_describe.go
  cmd/cliconfig/cliconfig_describe_test.go
  cmd/cliconfig/cliconfig_save.go
  cmd/cliconfig/cliconfig_save_test.go
  cmd/cliconfig/cliconfig_validate.go
  cmd/cliconfig/cliconfig_validate_test.go
  cmd/cliconfig/common.go
  cmd/sts.go
Due: lint, compile_test

STAC-16385: convert to /anomalies/export endpoint
  cmd/anomaly/anomaly_collect_feedback.go
  cmd/anomaly/anomaly_collect_feedback_test.go
  cmd/anomaly/test_feedback.json
  generated/stackstate_api/.openapi-generator/FILES
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_export_anomaly.go
  generated/stackstate_api/client.go
  generated/stackstate_api/docs/AnomalyWithContext.md
  generated/stackstate_api/docs/ExportAnomalyApi.md
  generated/stackstate_api/docs/Point.md
  generated/stackstate_api/docs/TooManyAnomaliesError.md
  generated/stackstate_api/model_anomaly_with_context.go
  generated/stackstate_api/model_feedback_with_context.go
  generated/stackstate_api/model_point.go
  generated/stackstate_api/model_too_many_anomalies_error.go
  internal/di/mock_stackstate_client.go
  openapi_version
  scripts/generate_stackstate_api.sh
Due: none

STAC-16567 Clarify some code in util.ToString
  internal/util/string_util.go
Due: none

STAC-16567 Added case for string reference and strnil
  internal/util/string_util.go
  internal/util/string_util_test.go
Due: none

Add a test that cmd.Long should end with a period/full stop and fix a few cases.
  cmd/anomaly.go
  cmd/anomaly/anomaly_collect_feedback.go
  cmd/script.go
  cmd/stackpack/stackpack_upgrade.go
  cmd/style_rules_test.go
Due: lint, compile_test

STAC-16361: port stackpack uninstall command
  cmd/stackpack.go
  cmd/stackpack/flags.go
  cmd/stackpack/stackpack_uninstall.go
  cmd/stackpack/stackpack_uninstall_test.go
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_stackpack.go
  generated/stackstate_api/docs/StackpackApi.md
  openapi_version
Due: lint, compile_test

Limit usage of verbs
  CMD_DEVELOPMENT.md
  cmd/script.go
  cmd/script/script_run.go
  cmd/script/script_run_test.go
  cmd/stackpack/stackpack_uninstall.go
Due: lint, compile_test

Update cmd.Use for required params based on NN feedback
  internal/common/cobra_common.go
  internal/common/cobra_common_test.go
Due: none

Make error text white, so people with different screen colors can easily read it
  internal/printer/printer.go
  internal/printer/printer_test.go
Due: none

STAC-16385: bump openapi spec to latest master
  openapi_version
Due: none

Fix StackPack not found message in 'stackpack list-parameters'
  cmd/stackpack/stackpack_list_parameters.go
Due: none

add machine readable json output
  cmd/stackpack/stackpack_confirm_manual_steps.go
  cmd/stackpack/stackpack_confirm_manual_steps_test.go
Due: none

fix openapi typo
  cmd/stackpack/stackpack_confirm_manual_steps.go
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_stackpack.go
  openapi_version
Due: none

update open api
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_stackpack.go
  generated/stackstate_api/docs/StackpackApi.md
  openapi_version
Due: none

STAC-16467: REmove Stream references from Monitor Status and fix issues from other MRs
  cmd/monitor/monitor_status.go
  cmd/monitor/monitor_status_test.go
  cmd/stackpack/flags.go
  generated/stackstate_api/.openapi-generator/FILES
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_stackpack.go
  generated/stackstate_api/docs/MonitorError.md
  generated/stackstate_api/docs/MonitorMetrics.md
  generated/stackstate_api/docs/MonitorStatus.md
  generated/stackstate_api/docs/MonitorStatus1.md
  generated/stackstate_api/docs/MonitorStreamMetrics.md
  generated/stackstate_api/docs/MonitorStreamStatus.md
  generated/stackstate_api/docs/MonitorStreamStatus1.md
  generated/stackstate_api/docs/StackpackApi.md
  generated/stackstate_api/model_monitor_error.go
  generated/stackstate_api/model_monitor_metrics.go
  generated/stackstate_api/model_monitor_status.go
  generated/stackstate_api/model_monitor_status_1.go
  generated/stackstate_api/model_monitor_stream_metrics.go
  generated/stackstate_api/model_monitor_stream_status.go
  generated/stackstate_api/model_monitor_stream_status_1.go
  openapi_version
  scripts/generate_stackstate_api.sh
Due: none

fix linter
  cmd/stackpack/stackpack_confirm_manual_steps_test.go
Due: none

STAC:16467: Bump to openapi master version
  openapi_version
Due: none

Fix some typos
  cmd/cliconfig/cliconfig_save.go
  cmd/stackpack/stackpack_install.go
Due: none

Produce error on missing sub-command and tweak usage templates
  cmd/stackpack/stackpack_list_parameters.go
  cmd/stackpack/stackpack_list_parameters_test.go
  cmd/style_rules_test.go
  internal/common/exit_codes.go
  internal/di/mock_deps.go
  internal/printer/mock_printer.go
  internal/printer/printer.go
  internal/printer/printer_test.go
  main.go
  main_test.go
Due: lint, compile_test

Set '-n' as shorthand flag for '--name'
  cmd/anomaly/anomaly_collect_feedback.go
  cmd/settings/settings_apply.go
  cmd/settings/settings_list.go
  cmd/settings/settings_list_test.go
  internal/common/common_flags.go
Due: none

STAC-0: use git checkout outside ci/cd
  scripts/generate_stackstate_api.sh
Due: none

Fix master
  cmd/stackpack/stackpack_uninstall.go
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_stackpack.go
  generated/stackstate_api/docs/StackpackApi.md
  internal/util/string_util.go
  openapi_version
  scripts/generate_stackstate_api.sh
Due: none

Fix linter error
  main.go
Due: none

Fix time formatting
  internal/util/string_util.go
  internal/util/string_util_test.go
  internal/util/time_util.go
  internal/util/tme_util_test.go
Due: none

Add Apache 2.0 license
  LICENSE
Due: none

Add more fine-grained verbosity
  cmd/cliconfig/cliconfig_save.go
  internal/common/persistent_flags.go
  main.go
Due: none

Add docker support
  .goreleaser.yml
  docker/Dockerfile.goreleaser
Due: goreleaser_check

Initial commit
  README.md
Due: none

STAC-16467: Fix linting issues
  cmd/monitor/monitor_status.go
  cmd/monitor/monitor_status_test.go
Due: none

Move publish scripts to its own subdir
  scripts/publish.sh
  scripts/publish/print_latest_version.sh
  scripts/publish/publish_latest_version_to_s3.sh
Due: none

Use stackstate:stackstate-cli2 project on dockerhub
  .goreleaser.yml
Due: goreleaser_check

Add docker to nix for CI
  flake.nix
Due: lint, license_scanning, dependency_scanning, compile_test

Add docker manifests for multi-arch docker images
  .goreleaser.yml
Due: goreleaser_check

Change to distroless for docker
  docker/Dockerfile.goreleaser
Due: none

Update README.md
  README.md
Due: none

Add documention links to README.md
  README.md
Due: none

conflict resolve
  cmd/stackpack/flags.go
  generated/stackstate_api/api/openapi.yaml
  openapi_version
Due: none

Cleanup of stackstate-openapi generation and checking
  .gitlab-ci.yml
  README.md
  scripts/check-api-up-to-date.sh
  scripts/check_stackstate_api_up-to-date.sh
  scripts/generate_stackstate_api.sh
  stackstate_openapi/openapi_version
  stackstate_openapi/spec/anomaly_feedback.api.yaml
  stackstate_openapi/spec/service_token.api.yaml
Due: none

Path conditions:
  lint: any of: go.mod, go.sum, flake.lock, flake.nix, cmd/**, generated/**, internal/**
  license_scanning: any of: go.mod, go.sum, flake.nix, flake.lock
  dependency_scanning: any of: go.mod, go.sum, flake.nix, flake.lock
  goreleaser_check: any of: .goreleaser.yml
  compile_test: any of: go.mod, go.sum, flake.lock, flake.nix, cmd/**, generated/**, internal/**
