Repository StackVista/stackstate-cli: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, license_scanning, dependency_scanning, goreleaser_check, compile_test

.gitlab-ci.yml:

stages:
  - check
  - deploy

.go-base:
  image: "nixos/nix:2.8.0"
  variables:
    NIX_CONFIG: "experimental-features = nix-command flakes"
    GOPATH: /go
    GITLAB_TOKEN: ${gitlab_api_scope_token}
  before_script:
  cache:
    paths:
      - /go/pkg/mod/

lint:
  extends: .go-base
  stage: check
  rules:
    - changes:
      - go.mod
      - go.sum
      - flake.lock
      - flake.nix
      - cmd/**
      - generated/**
      - internal/**
  script:
    - scripts/lint.sh

openapi-generate-check:
  extends: .go-base
  stage: check
  rules:
    - when: always
  script:
    - nix develop -c ./scripts/check-api-up-to-date.sh

license_scanning:
  stage: check
  image: "registry.gitlab.com/gitlab-org/security-products/analyzers/license-finder:3"
  rules:
    - changes:
      - go.mod
      - go.sum
      - flake.nix
      - flake.lock
  variables:
    LM_REPORT_VERSION: '2.1'
  allow_failure: true
  script:
    - /run.sh analyze .
  artifacts:
    reports:
      license_scanning: gl-license-scanning-report.json

dependency_scanning:
  stage: check
  image: "registry.gitlab.com/gitlab-org/security-products/analyzers/gemnasium:2"
  rules:
    - changes:
      - go.mod
      - go.sum
      - flake.nix
      - flake.lock
  script:
    - /analyzer run
  allow_failure: true
  artifacts:
    reports:
      dependency_scanning: gl-dependency-scanning-report.json

goreleaser_check:
  extends: .go-base
  stage: check
  rules:
    - changes:
      - .goreleaser.yml
  script:
    - nix develop -c goreleaser check

compile_test:
  extends: .go-base
  stage: check
  rules:
    - changes:
      - go.mod
      - go.sum
      - flake.lock
      - flake.nix
      - cmd/**
      - generated/**
      - internal/**
  script:
    - nix develop -c go test ./... -v
  tags:
    - sts-k8s-xl-runner

publish:
  stage: deploy
  extends: .go-base
  script:
  - if [ -z ${AWS_ACCESS_KEY_ID} ]; then echo "missing AWS_ACCESS_KEY_ID environment variable!"; exit 1; fi
  - nix develop -c goreleaser release
  tags:
    - sts-k8s-xl-runner
  rules:
    - if: '$CI_COMMIT_TAG && $CI_COMMIT_TAG =~ /^v[0-9]*/'
      when: always
    - when: never

STAC-16415: Bump to latest master
  openapi_version
Due: none

STAC-16385: fix tests
  cmd/anomaly/test_feedback.json
  cmd/monitor/monitor_status_test.go
  cmd/settings/settings_list_types_test.go
  cmd/stackpack/stackpack_install_test.go
  cmd/stackpack/stackpack_list_instances.go
  cmd/stackpack/stackpack_list_instances_test.go
  cmd/stackpack/stackpack_list_test.go
  cmd/stackpack/stackpack_upload_test.go
  generated/stackstate_api/.openapi-generator/FILES
  generated/stackstate_api/.openapi-generator/VERSION
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/docs/ExecuteScriptError.md
  generated/stackstate_api/docs/ExecuteScriptSyntaxErrors.md
  generated/stackstate_api/docs/ExecuteScriptSyntaxErrorsErrors.md
  generated/stackstate_api/docs/NodeTypes.md
  generated/stackstate_api/docs/NodeTypesNodeTypes.md
  generated/stackstate_api/docs/Sstackpack.md
  generated/stackstate_api/docs/SstackpackConfigurations.md
  generated/stackstate_api/docs/StackPack.md
  generated/stackstate_api/docs/StackPackFaqs.md
  generated/stackstate_api/model_execute_script_syntax_errors.go
  generated/stackstate_api/model_execute_script_syntax_errors_errors.go
  generated/stackstate_api/model_execute_script_syntax_errors_errors_inner.go
  generated/stackstate_api/model_node_types.go
  generated/stackstate_api/model_node_types_node_types.go
  generated/stackstate_api/model_sstackpack.go
  generated/stackstate_api/model_sstackpack_configurations.go
  generated/stackstate_api/model_stack_pack.go
  generated/stackstate_api/model_stack_pack_faqs.go
  scripts/generate_stackstate_api.sh
  stackstate_openapi/generate.sh
Due: none

STAC-16415: Ignore go cache files
  .gitignore
Due: none

STAC-16385: add anomaly command
  cmd/anomaly/anomaly_collect.go
  cmd/sts.go
Due: lint, compile_test

CI: Docker base image with nix dependencies
  .gitlab-ci.yml
  README.md
  cmd/settings/settings_describe.go
  flake.nix
  scripts/lint.sh
Due: lint, license_scanning, dependency_scanning, compile_test

Fix unresolved merge conflict
  cmd/settings/settings_describe.go
Due: none

Fixed 'nix build .' command
  flake.nix
Due: lint, license_scanning, dependency_scanning, compile_test

Added missing CI dependency
  flake.nix
Due: lint, license_scanning, dependency_scanning, compile_test

Do not use nix prefix in scripts
  scripts/generate_stackstate_api.sh
Due: none

Drop nix prefix for commands in CI jobs
  .gitlab-ci.yml
Due: none

STAC-16385: conform to style rules
  cmd/anomaly.go
  cmd/anomaly/anomaly_collect.go
Due: lint, compile_test

Fix help text of 'sts stackpack list-parameters'
  cmd/stackpack/stackpack_list_parameters.go
Due: none

CI: kvm support check on k8s runner
  .gitlab-ci.yml
  flake.nix
Due: lint, license_scanning, dependency_scanning, compile_test

STAC-16385: use docker image - nix doesn't have latest version of openapi-generator
  flake.nix
Due: lint, license_scanning, dependency_scanning, compile_test

Revert "CI: kvm support check on k8s runner"
  .gitlab-ci.yml
  flake.nix
Due: lint, license_scanning, dependency_scanning, compile_test

Use /bin/sh interpreter in all scripts
  scripts/check-api-up-to-date.sh
  scripts/generate_stackstate_api.sh
Due: none

STAC-16385: use newly generated api
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_anomaly_feedback.go
  generated/stackstate_api/api_service_token.go
  generated/stackstate_api/docs/AnomalyFeedbackApi.md
  generated/stackstate_api/docs/ServiceTokenApi.md
  generated/stackstate_api/model_annotation.go
  generated/stackstate_api/model_annotation_data.go
  generated/stackstate_api/model_annotation_metric_query.go
  generated/stackstate_api/model_feedback_comment.go
  generated/stackstate_api/model_feedback_data.go
  generated/stackstate_api/model_feedback_with_context.go
  generated/stackstate_api/model_generic_annotation_data.go
  generated/stackstate_api/model_metric_stream_anomaly_data.go
  generated/stackstate_api/model_metric_stream_no_anomaly_data.go
  generated/stackstate_api/model_metric_stream_reference.go
  generated/stackstate_api/model_new_service_token_request.go
  generated/stackstate_api/model_point.go
  generated/stackstate_api/model_reference.go
  generated/stackstate_api/model_service_token.go
  generated/stackstate_api/model_service_token_create_error.go
  generated/stackstate_api/model_service_token_created_response.go
  generated/stackstate_api/model_service_token_invalid_expiry_error.go
  generated/stackstate_api/model_sstackpack.go
  generated/stackstate_api/model_telemetry_query_condition.go
  generated/stackstate_api/model_time_range.go
  generated/stackstate_api/model_topology_event.go
  scripts/generate_stackstate_api.sh
Due: none

STAC-16385: need access to docker in ci
  .gitlab-ci.yml
Due: none

STAC-16497 cache nix CI environment
  .gitlab-ci.yml
  README.md
  flake.nix
  scripts/check-api-up-to-date.sh
  scripts/generate_stackstate_api.sh
  scripts/lint.sh
Due: lint, license_scanning, dependency_scanning, compile_test

Update docker image to stable version
  .gitlab-ci.yml
Due: none

Revert "Merge branch 'STAC-0-Docker-Image' into 'master'"
  .gitlab-ci.yml
Due: none

Use OpenAPI generator CLI v6.0.0-beta
  flake.nix
Due: lint, license_scanning, dependency_scanning, compile_test

STAC-16385: accept absolute time, verify request parameters, add example
  cmd/anomaly/anomaly_collect.go
  cmd/anomaly/anomaly_collect_test.go
Due: none

STAC-16385: custom duration parsing
  cmd/anomaly/anomaly_collect.go
  cmd/anomaly/anomaly_collect_test.go
  flake.nix
Due: lint, license_scanning, dependency_scanning, compile_test

STAC-16385: use custom duration parsing for start/end times too
  cmd/anomaly/anomaly_collect.go
  cmd/anomaly/anomaly_collect_test.go
Due: none

STAC-16385 Move time and duration flag parsing to its own package with some slight improvements
  cmd/anomaly/anomaly_collect.go
  cmd/anomaly/anomaly_collect_test.go
  internal/time_flags/duration_flags.go
  internal/time_flags/duration_flags_test.go
  internal/time_flags/time_flags.go
  internal/time_flags/time_flags_test.go
Due: none

Be consistent with the word 'collect'
  cmd/anomaly/anomaly_collect.go
  cmd/settings/settings_describe.go
Due: none

STAC-16385: rename command to 'collect-feedback'
  cmd/anomaly.go
  cmd/anomaly/anomaly_collect_feedback.go
  cmd/anomaly/anomaly_collect_feedback_test.go
Due: lint, compile_test

add upgrade api
  cmd/stackpack.go
  cmd/stackpack/stackpack_upgrade.go
  stackstate_openapi/spec/stackpack.xapi.yaml
Due: lint, compile_test

STAC-0: Move common flags to single place to ensure consistency
  cmd/anomaly/anomaly_collect_feedback.go
  cmd/monitor/flags.go
  cmd/monitor/monitor_apply.go
  cmd/monitor/monitor_delete.go
  cmd/monitor/monitor_run.go
  cmd/monitor/monitor_status.go
  cmd/script/script_execute.go
  cmd/settings/flags.go
  cmd/settings/settings_apply.go
  cmd/settings/settings_describe.go
  cmd/stackpack/flags.go
  cmd/stackpack/stackpack_install.go
  cmd/stackpack/stackpack_list_instances.go
  cmd/stackpack/stackpack_list_parameters.go
  cmd/stackpack/stackpack_upload.go
  internal/common/common_flags.go
Due: none

STAC-16467: Use new monitor status api. Rename to MonitorHealthState
  cmd/monitor/monitor_status.go
  cmd/monitor/monitor_status_test.go
  generated/stackstate_api/.openapi-generator/FILES
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/docs/HealthStreamMetrics1.md
  generated/stackstate_api/docs/HealthStreamStatus1.md
  generated/stackstate_api/docs/HealthSubStreamStatus1.md
  generated/stackstate_api/docs/Monitor.md
  generated/stackstate_api/docs/Monitor1.md
  generated/stackstate_api/docs/MonitorStatus.md
  generated/stackstate_api/docs/MonitorStatus1.md
  generated/stackstate_api/model_health_stream_metrics_1.go
  generated/stackstate_api/model_health_stream_status_1.go
  generated/stackstate_api/model_health_sub_stream_status_1.go
  generated/stackstate_api/model_monitor.go
  generated/stackstate_api/model_monitor_1.go
  generated/stackstate_api/model_monitor_status.go
  generated/stackstate_api/model_monitor_status_1.go
  openapi_version
Due: none

STAC-16553: Add commands for ServiceToken
  CMD_DEVELOPMENT.md
  cmd/cmd_rules_test.go
  cmd/servicetoken.go
  cmd/servicetoken/servicetoken_create.go
  cmd/servicetoken/servicetoken_create_test.go
  cmd/servicetoken/servicetoken_delete.go
  cmd/servicetoken/servicetoken_delete_test.go
  cmd/servicetoken/servicetoken_list.go
  cmd/servicetoken/servicetoken_list_test.go
  cmd/sts.go
  internal/di/mock_stackstate_client.go
  internal/time_flags/date_flags.go
  scripts/generate_stackstate_api.sh
Due: lint, compile_test

STAC-16467: Generate docs
  generated/stackstate_api/docs/MonitorStreamError.md
  generated/stackstate_api/docs/MonitorStreamMetrics.md
  generated/stackstate_api/docs/MonitorStreamStatus.md
  generated/stackstate_api/docs/MonitorStreamStatus1.md
  generated/stackstate_api/model_monitor_stream_error.go
  generated/stackstate_api/model_monitor_stream_metrics.go
  generated/stackstate_api/model_monitor_stream_status.go
  generated/stackstate_api/model_monitor_stream_status_1.go
Due: none

port stackpack confirm manual steps command
  cmd/stackpack.go
  cmd/stackpack/stackpack_confirm_manual_steps.go
  cmd/stackpack/stackpack_confirm_manual_steps_test.go
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_stackpack.go
  generated/stackstate_api/docs/StackpackApi.md
  openapi_version
Due: lint, compile_test

add missing files
  generated/stackstate_api/api_stackpack.go
Due: none

STAC-16567 Handle primitive pointers better in util.ToString
  internal/util/string_util.go
  internal/util/string_util_test.go
Due: none

update open api version
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_stackpack.go
  generated/stackstate_api/docs/StackpackApi.md
  openapi_version
Due: none

port stackpack upgrade command
  cmd/stackpack.go
  cmd/stackpack/flags.go
  cmd/stackpack/stackpack-upgrade.go
  cmd/stackpack/stackpack_upgrade_test.go
Due: lint, compile_test

fix file name
  cmd/stackpack/stackpack_upgrade.go
Due: none
